<div class="jumbotron text-center">
    <h1>Ruta Programada</h1>
</div>

<div class="container">
    <h4>Programación</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Identificación</th>
            <th>Tipo Dron</th>
            <th>Programador</th>
            <th>Fecha</th>
            <th>Destino</th>
            <th>Peso paquete</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mydata of data[0]">
            <td>{{mydata.idProgramacion}}</td>
            <td>{{mydata.idDron}}</td>
            <td>{{mydata.nombre}}</td>
            <td>{{mydata.fechaFinal}}</td>
            <td>Latitud: {{mydata.destinoFinalLat}}, Longitud: {{mydata.destinoFinalLon}}</td>
            <td>{{mydata.peso}}</td>
            <td>{{mydata.estado}}</td>
          </tr>
        </tbody>
    </table>
    <h4>Ruta</h4>
    <div>
        <agm-map [latitude]="lat" [longitude]="lng"
        [fullscreenControl]='true' [mapTypeControl]='true' [fitBounds]="true">
            <agm-marker *ngFor="let coordinate of start_end_mark; let i=index"
            [latitude]="coordinate[0]"
            [longitude]="coordinate[1]" [agmFitBounds]="true"></agm-marker>
            <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#FC1B08'">
                  <agm-polyline-point
                  *ngFor="let coordinate of latlng; let i=index"
                  [latitude]="coordinate[0]"
                  [longitude]="coordinate[1]">

</agm-polyline-point>
</agm-polyline>
          </agm-map>
    </div>
    <div style="margin-top: 1%;">
        <button class="btn boton" (click)="open(mymodal)">Validar tiempo</button>
    </div>
    
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cambio de programación</h4>
  </div>
  <div class="modal-body">
    Se detectó un cambio de clima y la ruta programada no se podrá realizar. Es necesario re-programarla.
  </div>
  <div class="modal-footer">
    <button routerLink="/schedule" type="button" class="btn boton" (click)="modal.close('Save click')">Re-programar</button>
  </div>
</ng-template>
</div>


