<div class="jumbotron text-center">
    <h1>Programador de domicilios</h1>
</div>

<div class="container">
    <div class="row">
      <h4>Programar domicilio</h4>
      <div class="col-sm-12">
        

        <app-dron-form (sent)="onSent($event)"></app-dron-form>
        <app-dron [peso]="peso"></app-dron>
        
        <app-weather-form (sent)="onSent($event)"></app-weather-form>
        <app-weather [city]="city" [country]="country" [date]="date" [temperatura]="temperatura"></app-weather>
    
      </div>
    </div>
  </div>
