<form (ngSubmit)="onSend()" #weatherForm="ngForm">
  <label for="envio">Datos de envío</label>
  <div class="form-group">
    <label for="country">País:</label>
    <input type="text" class="form-control" name="country" placeholder="País" required [(ngModel)]="_country"
      #country="ngModel" />
  </div>
  <div class="form-group">
    <label for="city">Ciudad:</label>
    <input type="text" class="form-control" name="city" placeholder="Ciudad" required [(ngModel)]="_city"
      #city="ngModel" />
  </div>
  <div class="form-group">
    <label for="dir">Dirección:</label>
    <input type="text" class="form-control" placeholder="Departamento" id="dep">
    <input type="text" class="form-control" placeholder="Vía: carrera/calle" id="via">
    <input type="text" class="form-control" placeholder="Número: #3C-19" id="dire">
  </div>
  <div class="form-group">
    <label for="date">Fecha:</label>
    <input type="date" name="date" class="form-control" placeholder="DD/MM/AA" required [(ngModel)]="_date"
      #date="ngModel" />
  </div>

  <div class="form-group">
    <label for="temperatura">Temperatura:</label>
    <input type="text" class="form-control" name="temperatura" placeholder="Temperatura máxima permitida para el medicamento" required [(ngModel)]="_temperatura"
    #temperatura="ngModel"/>
  </div>
  <div>
    <button type="submit" class="btn boton" [disabled]="!weatherForm.form.valid">
      Programar
    </button>
  </div>
</form>