<div class="container" *ngIf="weather">
    <div
        *ngIf="(weather.description=='few clouds') || (weather.description=='clear sky') || (weather.description=='scattered clouds') || (weather.description=='broken clouds') || (weather.description=='light rain')">
        <div *ngIf="weather.temperatura>weather.tempMin">
            <div class="d-flex cards pt-5 text-light">
                <div class="p-2"><h2 style="color: black;">{{ weather.city }}, {{ weather.country }}</h2></div>
                <div class="p-2"><h3 style="color: green;">Domicilio Programado</h3></div>
                <div class="p-2"><img [src]="weather.icon" alt=""></div>
            </div>
            <div>
                <button routerLink="/ruta"  (click)="onSchedule()" type="submit" class="btn boton">
                  Ver ruta programada
                </button>
              </div>
        </div>
    </div>
    <div
        *ngIf="(weather.description=='shower rain') || (weather.description=='rain') || (weather.description=='thunderstorm') || (weather.description=='moderate rain')">
        <div class="d-flex cards pt-5 text-light">
            <div class="p-2"><h2 style="color: black;">{{ weather.city }}, {{ weather.country }}</h2></div>
            <div class="p-2"><h3 style="color: red;">Se pronostica un mal tiempo, es mejor programarlo para otro momento</h3></div>
            <div class="p-2"><img [src]="weather.icon" alt=""></div>
        </div>
    </div>
</div>