<form (ngSubmit)="onSend()" #dronForm="ngForm">
    <div class="form-group">
      <label for="articulo">Medicamento:</label>
      <input type="text" class="form-control" placeholder="Nombre del medicamento a enviar" id="medicamento">
    </div>
    <div class="form-group">
      <label for="peso">Peso:</label>
      <input type="text" class="form-control" name="peso" placeholder="Peso del artículo" 
        required
            [(ngModel)]="_peso"
            #peso="ngModel"
      />
    </div>
    <div>
        <button type="submit" class="btn boton" [disabled]="!dronForm.form.valid">
            Validar disponibilidad
          </button>
        </div>
  </form>
