<div *ngIf="dron;then content else other_content"></div>    
<ng-template #content ><h3 style="color: green;">Hay disponibilidad de drones </h3></ng-template>
<ng-template #other_content><p style="color: red;">0 resultados</p></ng-template>