.jumbotron{
    background-image: url(http://3.bp.blogspot.com/-EQxTsg8rCc4/UJAjXwh97QI/AAAAAAAAAGg/-J3ZilGEQDg/s1600/Green_bkgd_72rgb.jpg);
    background-size: 100%;
    border-radius: 0px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.row {
    margin-bottom: 50px;
}

.boton{
    background-image: url(http://3.bp.blogspot.com/-EQxTsg8rCc4/UJAjXwh97QI/AAAAAAAAAGg/-J3ZilGEQDg/s1600/Green_bkgd_72rgb.jpg);
    color: white;
}